* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/** Header */
.Header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(114, 255, 182, 1) 0%,
    rgba(16, 209, 100, 1) 100%
  );
}
#logo {
  color: rgb(43, 43, 43);
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  cursor: pointer;
  text-decoration: none;
}

/** Grid */
.grid-container {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 100%;
  gap: 0px 0px;
  grid-template-areas: "side-menu content";
}

.side-menu {
  grid-area: side-menu;
}
.side-menu > button {
  width: 100%;
  height: 3em;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2.5px;
  text-align: start;
  padding-left: 20px;
  cursor: pointer;
  outline: none;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  background: #f6f6f6;
  transition: all 0.1s ease-in;
}
.side-menu > button:hover {
  padding-left: 28px;
}

.content {
  grid-area: content;
  padding: 40px;
}

/**  Noticias */
.noticia {
  padding: 25px;
}
.titulo,
.source {
  color: #222;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: 0.5px;
  cursor: context-menu;
}
.noticia a {
  background: linear-gradient(
    141deg,
    rgba(114, 255, 182, 1) 0%,
    rgba(16, 209, 100, 1) 100%
  );
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  padding: 10px 22px;
  color: #222;
  font-family: "Montserrat", sans-serif;
  font-size: 11;
  letter-spacing: 1px;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}
.noticia hr {
  height: 2px;
  background-color: #222;
  border-width: 0;
}

/* Next Race */
.nextrace {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  max-width: 100%;
  margin: 20px;
  overflow: hidden;
  width: 700px;
}
.nextrace h6 {
  opacity: 0.6;
  margin: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.nextrace h2 {
  letter-spacing: 1px;
  margin: 10px 0;
}
.nextrace-preview {
  background: linear-gradient(
    141deg,
    rgba(114, 255, 182, 1) 0%,
    rgba(16, 209, 100, 1) 100%
  );
  color: #000;
  padding: 30px;
  max-width: 250px;
}
.nextrace-preview a {
  color: #111;
  display: inline-block;
  font-size: 12px;
  opacity: 0.8;
  margin-top: 30px;
  text-decoration: underline;
}
.nextrace-info {
  padding: 30px;
  position: relative;
  width: 100%;
}

/** Weather */
.weather-container {
  display: flex;
  flex-direction: row;
}
.weather h5 {
  opacity: 0.75;
  margin: 0;
  letter-spacing: 1px;
}
.weather h2 {
  letter-spacing: 1px;
  margin: 10px 0;
}
.weather-preview {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 10px;
  background: linear-gradient(
    141deg,
    rgba(114, 255, 182, 1) 0%,
    rgba(16, 209, 100, 1) 100%
  );
  color: #000;
  padding: 30px;
  margin: 20px;
  width: 200px;
}

/** Loader */
.loader {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
}
#loader-1:before,
#loader-1:after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 10px solid transparent;
  border-top-color: #10d164;
}
#loader-1:before {
  z-index: 100;
  animation: spin 1s infinite;
}
#loader-1:after {
  border: 10px solid #ccc;
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/**  Scrollbar */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
