body {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 17px;
  line-height: 20px;
  font-weight: 400;
  color: #3b3b3b;
  -webkit-font-smoothing: antialiased;
}

.wrapper {
  margin: 0 auto;
  padding: 40px;
  max-width: 800px;
}

.table {
  margin: 0 0 40px 0;
  width: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: table;
  background: transparent;
}
@media screen and (max-width: 580px) {
  .table {
    display: block;
  }
}

.row {
  display: table-row;
  background: #f6f6f6;
  border-radius: 40px;
}
.row:nth-of-type(odd) {
  background: #f3f3f3;
}
.row.header {
  font-weight: 900;
  color: #ffffff;
}
.row.green {
  background: linear-gradient(
    141deg,
    rgb(63, 224, 141) 0%,
    rgba(16, 209, 100, 1) 100%
  );
}

@media screen and (max-width: 580px) {
  .row {
    padding: 8px 0;
    display: block;
  }
}

.cell {
  padding: 6px 12px;
  display: table-cell;
}
@media screen and (max-width: 580px) {
  .cell {
    padding: 2px 12px;
    display: block;
  }
}
